[Unit]
Description=the house Orvibo plug control web service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OTHEROPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/default/orvibo
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/sysconfig/orvibo
ExecStart=/usr/local/bin/orvibo $HTTPOPTS $HOUSEOPTS $OTHEROPTS $OPTS

[Install]
WantedBy=multi-user.target

