Source: orvibo
Version: 1.0
Section: Web servers
Maintainer: Pascal Martin <pascal.fb.martin@gmail.com>
Priority: optional
Homepage: https://github.com/pascal-fb-martin/orvibo
Standard-Version: 4.7.0
Package: orvibo
Architecture: {{arch}}
Depends: 
Description: A House service to control Orvibo WiFi plugs
 Orvibo is part of the House suite of web services.
 .
 Orvibo allows control of (old) connected plugs from Orvibo.

